.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    /*background-image: url('');*/
    background-size: cover;
    background-repeat: no-repeat;
    }

.container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.UC-Merced {
    color: #00205b;
    margin-bottom: 0.5em;
}

.singleLog {
    color: #000;
    margin-bottom: 1em;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #00205b;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 120px;
}