<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher View Course Roster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='courseRosterTeacher.css') }}?v=2s">
</head>
<body>
    <nav class="navbar">
        <button><a href="./teacher" class="return">Return</a></button>
        <h1>CSE 162</h1>
    </nav>
    <div class="container">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Ammon Hepworth</td>
                <td>92</td>
            </tr>
            <tr>
                <td>Ammon Hepworth</td>
                <td>92</td>
            </tr>
            <tr>
                <td>Ammon Hepworth</td>
                <td>92</td>
            </tr>
            <tr>
                <td>Ammon Hepworth</td>
                <td>92</td>
            </tr>
        </table>
    </div>
</body>
</html>