<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher View Course Roster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='courseRosterTeacher.css') }}?v=2s">
</head>
<body>
    <nav class="navbar">
        <button id="returnButton"><a  class="return">Return</a></button>
        <h1> {{ currentClass.name }} </h1>
    </nav>
    <div class="container">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
            </tr>
            {% for student in students: %}
                <tr>
                    <td> {{ student.name }} </td>
                    <td> <input type="number" onchange="setGrade(Number('{{student.id}}'), Number('{{currentClass.id}}'), this)" value="{{ getStudentGrade(student, currentClass) }}"/></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script>
    var btnReturn = document.getElementById("returnButton");

    btnReturn.addEventListener("click", function() {
        window.location.href = "{{ url_for('teacherMyClasses', teacher_id = teacher.id) }}"
    });
</script>
<script src="{{ url_for("static", filename="teacherStudents.js") }}"></script>

</html>