<!DOCTYPE html>
<html lang="en">
<head>
    <title>UC Merced Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div id="debugBar">
        <a href="/student/myClasses">studentMyClasses</a>
        <a href="/student/allClasses">studentAllClasses</a>
        <a href="/teacher/myClasses">teacherMyClasses</a>
        <a href="/teacher/class/students">teacherStudents</a>
        <a href="/login">login</a>
    </div>
<div class="App">
    <div class="container1">
        <h1 class="UC-Merced">UC Merced</h1>
        <h2 class="singleLog">Single Login</h2>
        <form action="{{ url_for("login") }}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input id="inputPass" name="password" type="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <input type="checkbox" id="showPass"> Show Password
        {% if message != None %}
        <div style="color: {{ messageColor }}"> {{ message }}</div>
        {% endif %}
    </div>
</div>
</body>
</html>
<script>
    document.getElementById('showPass').onchange = function() {
        document.getElementById('inputPass').type = this.checked ? 'text' : 'password';
    };
</script>
