<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student View Courses</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='studentview.css') }}">
</head>
<body>
<div class="app">
    <header class="university-header">
        <div>University Of California Merced Courses</div>
        <button id="signOutButton" class="sign-out">Sign out</button>
    </header>
    <main class="content">
        <section class="courses">
            <button id="courseButton" class="active">Your Courses</button>
        </section>
        <section class="add-courses">
            <button id="addCourseButton">Add Courses</button>
        </section>
    </main>
    <table id="courseTable">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
        </thead>
        {% for class in classes: %}
            <tr>
                <td> {{ class.name }} </td>
                <td> {{ getTeacherName(class.teacher_id) }} </td>
                <td> {{ class.time }} </td>
                <td> {{ getNumberOfEnrolledStudents(class) }}/{{ class.max_students }}</td>
            </tr>
        {% endfor %}
    </table>

    <script>
        var btnAddCourse = document.getElementById('addCourseButton');
        var btnSignOut = document.getElementById('signOutButton');

        btnAddCourse.addEventListener('click', function() {
            window.location.href = "{{ url_for('studentAllClasses', student_id = student.id) }}"
        });

        btnSignOut.addEventListener('click', function() {
            window.location.href = "{{ url_for('logout') }}"
        });

    </script>
</body>
</html>