<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Classes</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='studentMyClasses.css') }}">
</head>
<body>
    <div class="boldFont largeFont">University</div>
    <div class="boldFont">Welcome, {{ student.name }}!</div>
    <div>
        <div class="sideBySideContainer">
            <div style="font-weight: bold">Your Courses</div>
            <div><a href="/student/{{ student.id }}/allClasses">Add Courses</a></div>
        </div>
        <div id="classContainer">
            <table class="bordered">
                {% for class in classes: %}
                    <tr>
                        <td> {{ class.name }} </td>
                        <td> {{ getTeacherName(class.teacher_id) }} </td>
                        <td> {{ class.time }} </td>
                        <td> {{ getNumberOfEnrolledStudents(class) }}/{{ class.max_students }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div><a href="/login">Sign Out</a></div>
</body>
</html>